In [2]:
import pandas as pd
import numpy as np

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [4]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

np.random.normal(...)
This is a NumPy function to generate values from a normal distribution.

loc=0
Mean (center) of the distribution.
The generated numbers will center around 0.
For example: [-1.2, 0.3, 0.0, -0.5, 1.4, ...]

scale=1
Standard deviation (spread) of the distribution.
A higher value spreads data wider; lower values make it tighter around the mean.

size=n_class_0
Number of values to generate.
If n_class_0 = 900, this will create 900 values.

'target': [0] * n_class_0:
Assigns class label 0's to all rows in this DataFrame.

In [5]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

By default, when you concatenate DataFrames, the original row indices are preserved
The second half (class_1) still starts at index 0 â€” this can cause duplicate indices.

.reset_index(drop=True) does two things:
Resets the index to a continuous range (0 to N-1).
drop=True prevents the old index from being added as a new column.

In [6]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [7]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [8]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

UPSAMPLING

In [9]:
## Seperate the majority and minority classes

df_majority = df[df['target']==0]
df_minority = df[df['target']==1]

In [10]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority,replace=True,
         n_samples=len(df_majority),
         random_state=42)

In [11]:
df_minority_upsampled.shape

(900, 3)

In [12]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [13]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [14]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

DOWN SAMPLING

In [15]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [16]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [17]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [18]:
## Seperate the majority and minority classes

df_majority = df[df['target']==0]
df_minority = df[df['target']==1]

In [19]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority,replace=False,
         n_samples=len(df_minority),
         random_state=42)

In [21]:
df_majority_downsampled.shape

(100, 3)

In [24]:
df_majority_downsampled.head()

     feature_1  feature_2  target
70    0.786057   0.830076       0
827  -0.859775   0.174732       0
231  -0.012870  -0.735348       0
588  -0.297331  -0.351224       0
39    0.528702   1.508257       0

In [22]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])

In [23]:
df_downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64